body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.contenedor {
    display: flex;              
    justify-content: center;   
    gap: 15px;                  
}

.caja {
    background-color: #4CAF50;
    color: white;
    padding: 30px;
    width: 100px;
    border-radius: 10px;
}

h1{
background-color: rgb(255, 255, 255);
color: rgb(48, 48, 48);
padding: 5px;
border-radius: 20px;

}